

<div class="container">
  <%= render "form", appointment: @appointment %>

  <br>

  <div>
    <%= render partial: 'appointments', locals: { appointments: @appointments_createds, sesion_consulta: @session_consulta } %>
  </div>
</div>

<!-- <div data-controller="websocket-appointment" data-appointmentid="<%= session[:medical_session_id] %>" ></div> -->
<%-# turbo_stream_from @session_consulta %>
<style>
  /* The Modal (background) */
  .modal-personalized {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 3em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*
    background-color: rgb(0,0,0); #Fallback color
    background-color: rgba(0,0,0,0.4); # Black w/ opacity 
    */
  }

  .modal-content-personalized{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
  }

  /* The Close Button */
  .close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
</style>